mixin main-slider-top-item(title, title_thin, text, btn)

    .slider-top-box.swiper-slide
        .wrap.wrap_color
            h1.title-1= title
                .title-1_thin= title_thin

            .text-1= text

            button.btn= btn