<div class="product-profile">
    <div class="product-profile__wrap">
        <div class="marker-box">
            <div class="marker"></div>
        </div><a class="product-profile__img-box"><img class="product-profile__img" /></a>
        <div class="product-profile__description">
            <div class="product-profile__text"></div>
            <div class="product-profile__info-box"><svg class="product-profile__info-box_icon">
                    <use xlink:href="#icon-information"></use>
                </svg>
                <div class="text-5"></div>
            </div>
        </div>
    </div>
</div>