<div class="detailed-product-card">
    <div class="detailed-product-card__wrap">
        <div class="detailed-product-card__item">
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper"><a class="detailed-product-card__img-box swiper-slide" href="#!">
                        <div class="marker-box">
                            <div class="marker"></div>
                        </div><img class="detailed-product-card__img" src="../img/product-card/detailed-product-card_item-1.jpg" alt="Оконный профиль Argo Comfort +" />
                    </a><a class="detailed-product-card__img-box swiper-slide" href="#!">
                        <div class="marker-box">
                            <div class="marker"></div>
                        </div><img class="detailed-product-card__img" src="../img/product-card/detailed-product-card_item-1.jpg" alt="Оконный профиль Argo Comfort +" />
                    </a><a class="detailed-product-card__img-box swiper-slide" href="#!">
                        <div class="marker-box">
                            <div class="marker"></div>
                        </div><img class="detailed-product-card__img" src="../img/product-card/detailed-product-card_item-1.jpg" alt="Оконный профиль Argo Comfort +" />
                    </a></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="detailed-product-card__item swiper-wrapper"><a class="detailed-product-card__img-box detailed-product-card__img-box_min swiper-slide" href="#!"><img class="detailed-product-card__img" src="../img/product-card/detailed-product-card_item-1.jpg" alt="Оконный профиль Argo Comfort +" /></a><a class="detailed-product-card__img-box detailed-product-card__img-box_min swiper-slide" href="#!"><img class="detailed-product-card__img" src="../img/product-card/detailed-product-card_item-1.jpg" alt="Оконный профиль Argo Comfort +" /></a><a class="detailed-product-card__img-box detailed-product-card__img-box_min swiper-slide" href="#!"><img class="detailed-product-card__img" src="../img/product-card/detailed-product-card_item-1.jpg" alt="Оконный профиль Argo Comfort +" /></a></div>
            </div>
        </div>
        <div class="detailed-product-card__item">
            <div class="detailed-product-card__description"><a class="title-2" href="#!"></a>
                <div class="article-bonus-box">
                    <div class="article">
                        <div class="text-5">Артикульный номер</div>
                        <div class="article__number"></div>
                    </div>
                    <div class="bonus"><svg class="bonus__icon">
                            <use xlink:href="#icon-bonus"></use>
                        </svg><span class="bonus__text"></span></div>
                </div>
                <div class="text-base"></div>
                <div class="detailed-product-card-box">
                    <div class="price">
                        <div class="span price_old"></div>
                    </div>
                </div>
                <ul class="list-info">
                    <li class="list-info__item"></li>
                    <li class="list-info__item"></li>
                    <li class="list-info__item"></li>
                    <li class="list-info__item"></li>
                    <li class="list-info__item"></li>
                    <li class="list-info__item"></li>
                </ul>
                <div class="product-card-btn-box">
                    <button class="btn btn-calc">
                        <svg class="btn-calc__icon">
                            <use xlink:href="#icon-calculator"></use>
                        </svg>Калькулятор</button>
                    <div class="btn btn-pop-up">Запрос оферты</div>
                </div>
            </div>
            <div class="uploading-doc-box">
                <div class="uploading-doc"><svg class="uploading-doc__icon">
                        <use xlink:href="#icon-documentation"></use>
                    </svg>
                    <div class="uploading-doc__text">Документация Argo Comfort +</div>
                </div>
                <div class="uploading-doc"><svg class="uploading-doc__icon">
                        <use xlink:href="#icon-documentation"></use>
                    </svg>
                    <div class="uploading-doc__text">Производственное описание</div>
                </div>
            </div>
        </div>
    </div>
</div>