<div class="header-top">
    <div class="wrap wrap_color">
        <div class="header-top-content">
            <div class="header-top__box"><a class="info-link" href="#!">О компании</a><a class="info-link" href="#!">Политика конфиденциальности</a></div>
            <div class="header-top__box">
                <div class="social-link" href="#!"><a class="rating"><svg class="rating__icon">
                            <use xlink:href="#icon-rating"></use>
                        </svg>
                        <div class="rating__text">9.8</div>
                    </a>
                    <div class="social-link-box"><a class="social-link-box__item" href="#!"><svg class="social-link-box__icon">
                                <use xlink:href="#icon-instagram"></use>
                            </svg></a><a class="social-link-box__item" href="#!"><svg class="social-link-box__icon">
                                <use xlink:href="#icon-facebook"></use>
                            </svg></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="wrap">
        <div class="header-box">
            <div class="header-box__item"><a class="logo" href="./index.html"><svg class="logo__icon">
                        <use xlink:href="#icon-logo"></use>
                    </svg>
                    <div class="logo__text">Производство <br> и изделий из ПВХ</div>
                </a></div>
            <div class="header-box__item">
                <div class="mail-box"><a class="mail-box__link" href="mailto:KwaliProf@gmail.com">KwaliProf@gmail.com</a>
                    <div class="mail-box__text">Пишите, ответим на все вопросы</div>
                </div>
            </div>
            <div class="header-box__item"><a class="phone-number" href="tel:8 800 230-10-20"><span class="phone-number__text">8 800 230-10-20</span>
                    <div class="phone-number__icon"></div>
                </a></div>
            <div class="header-box__item">
                <button class="btn btn-pop-up">Запрос оферты</button>
            </div>
        </div>
        <div class="header-container">
            <div class="catalog">
                <div class="catalog__btn-box">
                    <button class="btn btn_catalog">Наша продукция<span>&lsaquo;</span></button>
                </div>
                <div class="catalog-list">
                    <div class="catalog-list__wrap"><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/windows.png" alt="Окна ПВХ" /></div><span class="link link-3">Окна ПВХ</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/doors.png" alt="Двери ПВХ" /></div><span class="link link-3">Двери ПВХ</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/aluminum-products.png" alt="Алюминиевые изделия" /></div><span class="link link-3">Алюминиевые изделия</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/rolls.png" alt="Ролеты" /></div><span class="link link-3">Ролеты</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/windowsills.png" alt="Подоконники" /></div><span class="link link-3">Подоконники</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/grids.png" alt="Сетки" /></div><span class="link link-3">Сетки</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/window-blind.png" alt="Жаллюзи" /></div><span class="link link-3">Жаллюзи</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/verandas.png" alt="Веранды" /></div><span class="link link-3">Веранды</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/stone-ebb.png" alt="Отливы" /></div><span class="link link-3">Отливы</span>
                        </a><a class="catalog-list__item" href="#!">
                            <div class="catalog-list__img-box"><img class="catalog-list__img" src="./img/products-categories/accessories.png" alt="Аксессуары" /></div><span class="link link-3">Аксессуары</span>
                        </a>
                        <div class="catalog__link-box"><a class="catalog-nav-link" href="./pages/calculator.html">Калькулятор стоимости<span class="catalog-nav-link__icon">></span></a><a class="catalog-nav-link" href="./pages/useful-info.html">Полезная информация<span class="catalog-nav-link__icon">></span></a><a class="catalog-nav-link" href="./pages/list-products.html">Наши работы<span class="catalog-nav-link__icon">></span></a><a class="catalog-nav-link" href="./pages/contacts.html">Контакты<span class="catalog-nav-link__icon">></span></a></div>
                        <button class="btn btn-pop-up">Запрос оферты</button>
                        <div class="catalog__btn-container">
                            <button class="btn-catalog-close"><span class="line line-1"></span><span class="line line-2"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <div class="nav-container">
                    <div class="nav__item"><a class="nav__link" href="./pages/calculator.html">
                            <svg class="nav__icon">
                                <use xlink:href="#icon-calculator"></use>
                            </svg>Калькулятор стоимости</a></div>
                    <div class="nav__item"><a class="nav__link" href="./pages/useful-info.html">Полезная информация</a></div>
                    <div class="nav__item"><a class="nav__link" href="./pages/list-products.html">Наши работы</a></div>
                    <div class="nav__item"><a class="nav__link" href="./pages/contacts.html">Контакты</a></div>
                </div>
            </nav>
        </div>
    </div>
</header>