<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Окна KOZIJNEN
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/latest/normalize.css")
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="../css/style.css")
  body
    .app
      include ../templates/pug/header

      .list-products-container
        .wrap
          .top-box
            .top-box__item
              include ../templates/pug/ui/nav-strip
              ul.nav-strip
                +nav-strip('Главная', '/')
                +nav-strip('Категория', '/')
                +nav-strip('Путь до внутренней страницы')

            .top-box__item
              a(href="#!").link.link-4
                  span.link-4__icon &lsaquo;
                  div Вернуться назад
          
          .list-products-text-box
            include ../templates/pug/product-card/list-products-title
            +list-products-title('../img/products-categories/windows.png', 'Окна ПВХ - профили', 'Окна ПВХ ', '- профили')
            .text-8 Бесцветная, прозрачная пластмасса, термопластичный полимер винилхлорида. Отличается химической стойкостью к щелочам, минеральным маслам, многим кислотам и растворителям.

          .list-products-box
            include ../templates/pug/product-card/product-card
            +product-card('../img/product-card/product-card_item-1.jpg', 'Профиль Comfort +', 'Профиль Comfort +', 'Поливинилхлорид также часто используется в одежде и аксессуарах для создания подобного коже материала, отличающегося гладкостью и блеском. Такая одежда широко распространена', 'marker_discount', 'акция', 'bonus_active', 'Экологично', 'Немецкий профиль (Inoutic)', 'Бусина с двойным остеклением: дополнительная защита от взлома', '5-ти камерный профиль с глубиной конструкции 71мм', 'от 7920₽', ' от 9950₽')

            +product-card('../img/product-card/product-card_item-1.jpg', 'Профиль Arcada New Comfort', 'Профиль Arcada New Comfort', 'Используется для производства хлорированного поливинилхлорида, обладающего самыми высокими характеристиками огнестойкости и самой высокой температурой воспламенения (482 °С) ', '', '', '', '', 'Немецкий профиль (Inoutic)', 'Бусина с двойным остеклением: дополнительная защита от взлома', '5-ти камерный профиль с глубиной конструкции 71мм', 'от 14900₽', '')

            +product-card('../img/product-card/product-card_item-2.jpg', 'Профиль Premium luxe', 'Профиль Premium luxe', 'Также поливинилхлорид находит широкое применение в производстве покрытия колёс и роликов, например для скейтбордов.', 'marker_new', 'новинка', '', '', 'Немецкий профиль (Inoutic)', 'Бусина с двойным остеклением: дополнительная защита от взлома', '5-ти камерный профиль с глубиной конструкции 71мм', 'от 14900₽', '')

            +product-card('../img/product-card/product-card_item-1.jpg', 'Профиль Premium luxe +', 'Профиль Premium luxe +', 'Применяется для электроизоляции проводов и кабелей, производства листов, труб (преимущественно хлорированный поливинилхлорид), плёнок, плёнок для натяжных потолков', '', '', 'bonus_active', 'Экологично', 'Немецкий профиль (Inoutic)', 'Можно провести атаку', '5 камерный профиль с глубиной застройки 115 мм', 'от 22990₽', '')

            +product-card('../img/product-card/product-card_item-4.jpg', 'Профиль Arcada New Comfort', 'Профиль Arcada New Comfort', 'Используется для производства хлорированного поливинилхлорида, обладающего самыми высокими характеристиками огнестойкости и самой высокой температурой воспламенения (482 °С)', '', '', '', '', 'Немецкий профиль (Inoutic)', 'Отличные тепловые характеристики', '6 камерный профиль с глубиной застройки 84 мм', 'от 8990₽', '')
            
          .list-products-additional-info
            .title-1 Окна ПВХ
              .title-1_thin — от проверенного производителя

            .text-3 Отдельные случаи продажи товаров, выполнения работ или оказания услуг, не приводящие к систематическому получению прибыли, предпринимательством не является.

            .text-4 В большинстве стран для начала предпринимательства требуется официальная регистрация, но критерии и условия могут существенно различаться. Согласно законодательству Российской Федерации предпринимательство может осуществляться юридическим лицом или непосредственно физическим лицом
            .text-hide
              .text-4 В большинстве стран для начала предпринимательства требуется официальная регистрация, но критерии и условия могут существенно различаться. Согласно законодательству Российской Федерации предпринимательство может осуществляться юридическим лицом или непосредственно физическим лицом
              .text-4 В большинстве стран для начала предпринимательства требуется официальная регистрация, но критерии и условия могут существенно различаться. Согласно законодательству Российской Федерации предпринимательство может осуществляться юридическим лицом или непосредственно физическим лицом
              .text-4 В большинстве стран для начала предпринимательства требуется официальная регистрация, но критерии и условия могут существенно различаться. Согласно законодательству Российской Федерации предпринимательство может осуществляться юридическим лицом или непосредственно физическим лицом
              
            button.link.link-4.btn_hide Все описание
              span.link-4__icon &lsaquo; 
        
          .feedback-form
            .wrap.wrap_color
              .feedback-form-container
                .feedback-form__item
                  .icon-box
                    <svg class="icon"><use xlink:href="#icon-message"></use></svg>
                  .text-box
                    .title-5 Нет времени разбираться?
                    .text-7 Заполните форму, и мы свяжемся с вами и ответим на все интересующие Вас вопросы
                form.form.feedback-form__item
                  .form-box
                    label.form__title Номер телефона
                      input(type="tel", name="" placeholder='+7', required).form__input.form-tel__input
                    .form__info Пожалуйста укажите номер корректно
                  .form-box
                    button.form-btn.form-tel__btn Задать вопрос
                    .form__info Отправляя запрос Вы соглашаетесь на обработку персональных данных

      include ../templates/pug/footer
