<form class="form form-2">
    <button class="btn-close"><span class="line line-1"></span><span class="line line-2"></span></button>
    <div class="form-container">
        <div class="title-4">Запрос оферты</div>
        <div class="text-7">Заполните форму, и мы свяжемся с вами</div>
        <div class="form-box">
            <label class="form__title">Ваше имя
                <input class="form__input" type="text" name="" required="required" />
            </label>
        </div>
        <div class="form-box">
            <label class="form__title">Номер телефона
                <input class="form__input form-tel__input" type="tel" name="" placeholder="+7" required="required" />
                <div class="form__info">Пожалуйста укажите номер корректно</div>
            </label>
        </div>
        <div class="form-box">
            <label class="form__title">Ваш email
                <input class="form__input" type="mailto" name="" placeholder="info@gmail.com" required="required" />
            </label>
        </div>
        <div class="form-box">
            <label class="form__title">Комментарий
                <textarea class="form__input form__input_area" name="text"></textarea>
                <div class="form__info">Например укажите дополнительные нюансы</div>
            </label>
        </div>
        <div class="form-box">
            <label class="load-file__title">
                <input class="load-file__input" type="file" /><svg class="load-file__icon">
                    <use xlink:href="#icon-to-attach-a-file"></use>
                </svg>Прикрепить файл
            </label>
        </div>
        <div class="form-btn-box">
            <button class="btn" name="" type="type">Запрос оферты</button>
            <div class="form__info">Отправляя запрос Вы соглашаетесь на обработку персональных данных</div>
        </div>
    </div>
</form>