<div class="tabs-color">
    <label class="tabs-color__label">
        <input class="tabs-color__input" type="radio" name="tab-color" />
        <div class="tabs-color-box tabs-color-box_light-grey"></div>
    </label>
    <label class="tabs-color__label">
        <input class="tabs-color__input" type="radio" name="tab-color" />
        <div class="tabs-color-box tabs-color-box_dark-gray"></div>
    </label>
    <label class="tabs-color__label">
        <input class="tabs-color__input" type="radio" name="tab-color" />
        <div class="tabs-color-box tabs-color-box_black"></div>
    </label>
    <label class="tabs-color__label">
        <input class="tabs-color__input" type="radio" name="tab-color" />
        <div class="tabs-color-box tabs-color-box_green"></div>
    </label>
    <label class="tabs-color__label">
        <input class="tabs-color__input" type="radio" name="tab-color" />
        <div class="tabs-color-box tabs-color-box_purple"></div>
    </label>
    <label class="tabs-color__label">
        <input class="tabs-color__input" type="radio" name="tab-color" />
        <div class="tabs-color-box tabs-color-box_dull-yellow"></div>
    </label>
    <label class="tabs-color__label">
        <input class="tabs-color__input" type="radio" name="tab-color" />
        <div class="tabs-color-box tabs-color-box_gray"></div>
    </label>
    <label class="tabs-color__label">
        <input class="tabs-color__input" type="radio" name="tab-color" />
        <div class="tabs-color-box tabs-color-box_grey-green"></div>
    </label>
</div>