mixin list-products-title(img_src, img_alt, text, text_2)
    .list-products-title
        img(src=img_src, alt=img_alt).list-products-title__icon
        h1.title-1= text
            span.title-1_thin= text_2