:root {
    // === fonts ===

    --font-basis: 'Gotham Pro', serif;

    // === color ===

    --color-basis: #4d525a;
    --color-additional-1: #091423;
    --color-additional-2: #1b3151;
    --color-additional-3: #fff;
    --color-additional-4: #0e3306;
    --color-additional-5: #2fae12;
    --color-additional-6: #091322;
    --color-additional-7: #0e3306;

    --color-icon: #b7bec2;

    --color-nav-strip: #6c7076;

    --color-nav: #fff;
    --color-nav-hover: #65e496;

    --color-link: #65e496;
    --color-link-2: #4d525a;
    --color-link-3: #091423;
    --color-link-back: #4d525a;

    --color-btn: #0e3306;
    --color-btn-2: #4d525a;
    --color-btn-catalog: #fff;
    --color-btn-form: #0e3306;

    --swiper-theme-color: #4d525a;

    --bg-1: #fff;
    --bg-2: #f7f9fa;
    --bg-3: #f3f9f1;

    --bg-btn: #d5ef28;
    --bg-btn-catalog: #2fae12;
    --bg-btn-2: #f5f6f6;
    --bg-btn-form: #fff;
    --bg-btn-calc: #fff;

    // === font-size ===

    --fz-basis: 16px;

    --fz-title-1: 55px;
    --fz-title-2: 44px;
    --fz-title-3: 40px;
    --fz-title-4: 24px;
    --fz-title-5: 33px;
    --fz-title-6: 36px;

    --fz-text-1: 22px;
    --fz-text-2: 20px;
    --fz-text-3: 18px;
    --fz-text-4: 13px;
    --fz-text-5: 12px;
    --fz-text-6: 11px;
    --fz-text-7: 17px;
    --fz-text-8: 15px;
    --fz-text-9: 27px;
    --fz-text-10: 14px;
    --fz-text-11: 24px;

    --fz-nav: 18px;

    --fz-nav-strip: 11px;

    --fz-link: 14px;
    --fz-link-2: 12px;
    --fz-link-3: 15px;
    --fz-link-back: 11px;

    --fz-btn: 14px;
    --fz-btn_2: 13px;
    --fz-btn-catalog: 19px;
    --fz-btn_3: 16px;
    --fz-btn-form: 14px;

    --fz-price: 27px;
    --fz-price-old: 15px;

    --swiper-navigation-size: 30px;

    // === size ===

    --wrap-max-width: 1510px;
    --wrap-2-max-width: 1170px;
}