.tabs-color
    include ../../pug/ui/tabs-color
    +tabs-color-item('tabs-color-box_light-grey')
    +tabs-color-item('tabs-color-box_dark-gray')
    +tabs-color-item('tabs-color-box_black')
    +tabs-color-item('tabs-color-box_green')
    +tabs-color-item('tabs-color-box_purple')
    +tabs-color-item('tabs-color-box_dull-yellow')
    +tabs-color-item('tabs-color-box_gray')
    +tabs-color-item('tabs-color-box_grey-green')